<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Районная больница</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <!-- Панель навигации -->
    <div class="sidebar">
        <h2>Меню</h2>
        <ul>
            <li><a href="#">Главная</a></li>
            {% if "Врачи" in user.groups.all|join:", " %}
            <li><a href="/patients">Пациенты</a></li>
            <li><a href="/tickets">Талоны посещения</a></li>
            {% elif "Пациенты" in user.groups.all|join:", " %}
            <li><a href="/doctors">Врачи</a></li>
            <li><a href="/neighborhoods">Участки</a></li>
            {% elif "Регистратура" in user.groups.all|join:", " %}
            <li><a href="/patients">Пациенты</a></li>
            <li><a href="/neighborhoods">Участки</a></li>
            <li><a href="/tickets">Талоны посещения</a></li>
            {% else %}
            <li><a href="/patients">Пациенты</a></li>
            <li><a href="/doctors">Врачи</a></li>
            <li><a href="/neighborhoods">Участки</a></li>
            <li><a href="/diagnoses">Диагнозы</a></li>
            <li><a href="/visits">Цели визита</a></li>
            <li><a href="/tickets">Талоны посещения</a></li>
            {% endif %}
            <hr>
            {% if "Пациенты" in user.groups.all|join:", "  %}
            <li><a href="/doc_neigh_doc">Список участков и участковых врачей</a></li>
            {% endif %}
            {% if "Регистратура" in user.groups.all|join:", "  %}
            <li><a href="/ticket_print">Таблица талонов</a></li>
            {% endif %}
            {% if "Администрация" in user.groups.all|join:", "  %}
            <li><a href="/doc_neigh_doc">Список участков и участковых врачей</a></li>
            <li><a name = "patient_list" style="cursor: pointer;">Пациенты с диагнозом...</a></li>
            <li><a name = "patient_doctor" style="cursor: pointer;">Пациенты находившиеся на приёме у...</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="user-panel">
            {% if user.is_authenticated %}
                <h2>{{user.username}}</h2>
            <div class="square">
                <p>Вы состоите в следующих группах:</p>
                    <ul>
                    {% for group in user.groups.all %}
                        <li>{{ group.name }}</li>
                    {% empty %}
                        <li>Вы не состоите ни в одной группе</li>
                    {% endfor %}
                    </ul>
            </div>
            {% else %}
                <h2>Пользователь</h2>
             {% endif %}
        <ul>
            <li><a href="/logout">Выход</a></li>
        </ul>
        </div>
</body>
</html>
