<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Районная больница</title>
    <script type="text/javascript" src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/model_list.css' %}?v={{ timestamp }}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.css'%}">
</head>
<body>
    <!-- Панель навигации -->
    <div class="sidebar">
        <h2>Меню</h2>
        <ul>
            <li><a href="#">Главная</a></li>
            {% if "Врачи" in user.groups.all|join:", " %}
            <li><a href="/patients">Пациенты</a></li>
            <li><a href="/tickets">Талоны посещения</a></li>
            {% elif "Пациенты" in user.groups.all|join:", " %}
            <li><a href="/doctors">Врачи</a></li>
            <li><a href="/neighborhoods">Участки</a></li>
            {% elif "Регистратура" in user.groups.all|join:", " %}
            <li><a href="/patients">Пациенты</a></li>
            <li><a href="/neighborhoods">Участки</a></li>
            <li><a href="/tickets">Талоны посещения</a></li>
            {% else %}
            <li><a href="/patients">Пациенты</a></li>
            <li><a href="/doctors">Врачи</a></li>
            <li><a href="/neighborhoods">Участки</a></li>
            <li><a href="/diagnoses">Диагнозы</a></li>
            <li><a href="/visits">Цели визита</a></li>
            <li><a href="/tickets">Талоны посещения</a></li>
            {% endif %}
            <hr>
            {% if "Пациенты" in user.groups.all|join:", "  %}
            <li><a href="/doc_neigh_doc">Список участков и участковых врачей</a></li>
            {% endif %}
            {% if "Регистратура" in user.groups.all|join:", "  %}
            <li><a href="/ticket_print">Таблица талонов</a></li>
            {% endif %}
            {% if "Администрация" in user.groups.all|join:", "  %}
            <li><a href="/doc_neigh_doc">Список участков и участковых врачей</a></li>
            <li><a name = "patient_list" style="cursor: pointer;">Пациенты с диагнозом...</a></li>
            <li><a name = "patient_doctor" style="cursor: pointer;">Пациенты находившиеся на приёме у...</a></li>
            {% endif %}
        </ul>
    </div>
    <div style="grid-column: 2;"></div>
    <!-- Основной контент -->
    <div class="content">
        <h1>{{ h1 }}</h1>
        <table>
            <thead>
                <tr>
                    {% for field in fields %}
                    <th>{{field.verbose_name}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for model in models %}
            {% load i18n %}
            {% language "en" %}
                    <tr>
                        {% for key,value in model.items %}
                        {% if key == "date_of_birth" %}
                        <td ondblclick="makeEditable(this)" name="{{key}}">{{value|date:"Y-m-d"}}</td>
                        {% elif key == "date_n_time"%}
                        <td ondblclick="makeEditable(this)" name="{{key}}">{{value|date:"Y-m-d H:i:s"}}</td>
                        {% elif value %}
                        <td {%if key != "id" and  key != "sex" %} ondblclick="makeEditable(this)"{%endif%} name="{{key}}" >{{ value }}</td>
                        {% else %}
                        <td ondblclick="makeEditable(this)" name="{{key}}"> - </td>
                        {% endif %}
                        {% endfor %}
                    </tr>
            {% endlanguage %}
            {% endfor %}
            </tbody>
        </table>
        <script>
            const user_group = "{{ user.groups.all|join:", "}}";
            const model = "{{ h1 }}";
            const user_perm = "{{ user.get_all_permissions|join:", "}}";
            new_row = {};
            DataTime = {};
            const fields = {{ fields_len }};
        </script>
    </div>
    <!-- Плюсик для добавления данных -->
    {% if "Регистратура" in user.groups.all|join:", "%}
        {%if h1 == "Талоны" or h1 == "Участки" or h1 == "Пациенты" %}
        <div class="plus radius" onclick="MakeAddingRow(this)"></div>
        {% endif %}
    {% endif %}
    {% if "Администрация" in user.groups.all|join:", " %}
    <div class="plus radius" onclick="MakeAddingRow(this)"></div>
    {% endif %}
    <div name="gap"></div>
    <!-- Аккаунт пользователя -->
    <div class="user-panel">
            {% if user.is_authenticated %}
                <h2>{{user.username}}</h2>
            <div class="square">
                <p>Вы состоите в следующих группах:</p>
                    <ul>
                    {% for group in user.groups.all %}
                        <li>{{ group.name }}</li>
                    {% empty %}
                        <li>Вы не состоите ни в одной группе</li>
                    {% endfor %}
                    </ul>
            </div>
            {% else %}
                <h2>Пользователь</h2>
             {% endif %}
        <ul>
            <li><a href="/logout">Выход</a></li>
        </ul>
        <div class="errors"></div>
    </div>
    <script src="{% static 'js/model_list.js' %}?v={{ timestamp }}"></script>
    <script type="text/javascript" src="{% static 'js/select2.js' %}"></script>
</body>
</html>
<!-- ?v={{ timestamp }} -->